@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #f5f5f5;
  --text-primary: #111827;
  --bg-timer: rgba(158, 226, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
    --text-primary: #f9fafb;
    --bg-timer: rgba(82, 112, 12, 0.5);
  }
}

@layer base {
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    accent-color: var(--color-lime-400);
    color: var(--text-primary);
  }

  .display {
    font-family: "Chivo Mono", monospace;
  }
}
